################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagement/tests/TaskManagement.Tests/TaskServiceTests.cs
/TaskManagement/tests/TaskManagement.Tests/UnitTest1.cs
